{% extends 'master.html' %}

{% block title %}
  Account Summary
{% endblock %}

{% block content %}
<h1>Account Summary</h1>

<p>Account Name: {{ account_details.username }}</p>
<p>Account Number: {{ account_number }}</p>
<p>Signature: {{ signature }}</p>

<form method="POST" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>

{% if account_details %}
    <p>Account Balance: {{ account_details.balance }}</p>
    <p>Account Type: {{ account_details.account_type }}</p>
{% else %}
    <p>No account details available.</p>
{% endif %}

{% endblock %}